aiodns==2.0.0
atomicwrites==1.3.0
attrs==19.2.0
beautifulsoup4==4.8.0
censys==0.0.8
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
colorama==0.4.1
dnspython==1.16.0
entrypoints==0.3
flake8==3.7.8
gevent==1.4.0
greenlet==0.4.15
grequests==0.4.0
idna==2.8
importlib-metadata==0.23
mccabe==0.6.1
more-itertools==7.2.0
mypy==0.720
mypy-extensions==0.4.2
netaddr==0.7.19
packaging==19.2
pip-review==1.0
pipenv==2018.11.26
pkg-resources==0.0.0
plotly==4.1.1
pluggy==0.13.0
py==1.8.0
pycares==3.0.0
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
pyparsing==2.4.2
pytest==5.1.3
PyYAML==5.1.2
requests==2.22.0
retrying==1.3.3
shodan==1.17.0
six==1.12.0
soupsieve==1.9.4
texttable==1.6.2
typed-ast==1.4.0
typing-extensions==3.7.4
urllib3==1.25.6
virtualenv==16.7.5
virtualenv-clone==0.5.3
wcwidth==0.1.7
XlsxWriter==1.2.1
zipp==0.6.0
